@model TMS.Models.Department.Department
@{
    ViewBag.Title = "Department Master";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<style>
    .content {
        padding-top: .1rem !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row d-flex justify-content-center">
        <h4 style="color:#1d1f26; font-weight:bold;">@ViewBag.Title</h4>
    </div>
    <div class="card card-default mb-2">
        <div class="card-body px-1 pt-1 pb-2">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.LabelFor(model => model.Dept_Code, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Dept_Code, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.HiddenFor(model => model.Dept_Code, new { @id = "Temp_DepC" })
                    @Html.HiddenFor(model => model.Btn, new { @id = "btn_type" })
                    @Html.ValidationMessageFor(model => model.Dept_Code, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.LabelFor(model => model.Dept_Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Dept_Name, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus",@Maxlength=50, @onkeypress = "return /[a-zA-Z ]/i.test(event.key)" } })
                    @Html.ValidationMessageFor(model => model.Dept_Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">

                    <input type="submit" value="@Model.Btn" class="btn btn-success btn-sm" id="btn_Save" style="width: 98px;margin-top:1.1rem !important;" />
                    <input type="button" value="Clear" class="btn btn-dark btn-sm" style="margin-top:1.1rem !important;" onclick="location.reload(true);" />

                </div>
            </div>
        </div>
    </div>
    <div class="card card-default mb-1">
        <div class="table-responsive" style="max-height:calc(95vh - 247px);scrollbar-width: thin;">
            <table class="table table-bordered">
                <thead>
                    <tr style="position: sticky !important; top: 0px;background-color: #ffd6d6;">
                        <th scope="col">S.No</th>
                        <th scope="col">Department Code</th>
                        <th scope="col">Department Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.List != null)
                    {
                        int i = 1;
                        foreach (var item in Model.List)
                        {
                            <tr>
                                <td scope="row">
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dept_Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dept_Name)
                                </td>
                                <th class="text-center">
                                    <a onclick="Edit('@item.Dept_Code','@item.Dept_Name')">
                                        <i class="mdi mdi-open-in-new mx-2 Iconfor_ED"></i>
                                    </a>
                                    <a href="@Url.Action("Delete",new {Dept_Code=item.Dept_Code,Dept_Name=item.Dept_Name })" onclick="return confirm('Are Sure wants to Delete!');">
                                        <i class="mdi mdi-close text-danger"></i>

                                    </a>

                                </th>

                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td scope="row" colspan="4" class="text-center font-weight-bold " style="background:#fefbee;">
                                No Records!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (TempData["Dep_Alert"] != null)
{
    <script>
        $(()=> {

            alert('@TempData["Dep_Alert"]')

        })

    </script>
}
<script>
    $(document).ready(() => {

    });
    function Edit(Dept_Code, Dept_Name) {

        $('#Dept_Code').val(Dept_Code);
        $('#Temp_DepC').val($('#Dept_Code').val())
        $('#Dept_Name').val(Dept_Name);
        $('#btn_type').val('Update')
        $('#btn_Save').val($('#btn_type').val());
    }
</script>