@model TMS.Models.Home.Home
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<style>
    .content {
        padding-top: .1rem !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row d-flex justify-content-center">
        <h4 style="color:#1d1f26; font-weight:bold;">@ViewBag.Title</h4>
    </div>
    <div class="card card-default mb-2">
        <div class="card-body px-1 pt-1 pb-2">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.LabelFor(model => model.Old_Pass, htmlAttributes: new { @class = "control-label " })
                    <div style="height:28px;position:relative;">
                        @Html.EditorFor(model => model.Old_Pass, new { htmlAttributes = new { @class = "form-control", @style = "-webkit-text-security: Square;",@Autofocus="autofocus", @onkeypress = "return /[a-zA-Z0-9 @&_-]/i.test(event.key)" } })
                        <i class="mdi mdi-eye field-icon EOld_Pass" onclick="Eye(this, 'Old_Pass')"></i>
                    </div>
                    @Html.ValidationMessageFor(model => model.Old_Pass, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.LabelFor(model => model.New_Pass, htmlAttributes: new { @class = "control-label " })
                    <div style="height:28px;position:relative;">
                        @Html.EditorFor(model => model.New_Pass, new { htmlAttributes = new { @class = "form-control", @style = "-webkit-text-security: Square;", @onkeypress = "return /[a-zA-Z0-9 @&_-]/i.test(event.key)" } })
                        <i class="mdi mdi-eye field-icon ENew_Pass" onclick="Eye(this,'New_Pass')"></i>
                    </div>
                    @Html.ValidationMessageFor(model => model.New_Pass, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    @Html.LabelFor(model => model.CNF_Pass, htmlAttributes: new { @class = "control-label" })
                    <div style="height:28px;position:relative;">
                        @Html.EditorFor(model => model.CNF_Pass, new { htmlAttributes = new { @class = "form-control", @style = "-webkit-text-security: Square;", @onkeypress = "return /[a-zA-Z0-9 @&_-]/i.test(event.key)" } })
                        <i class="mdi mdi-eye  field-icon ECNF_Pass" onclick="Eye(this, 'CNF_Pass')"></i>
                    </div>
                    @Html.ValidationMessageFor(model => model.CNF_Pass, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <input type="submit" value="Save" class="btn btn-success btn-sm" id="btn_Save" style="width: 98px;margin-top:1.0rem !important;" />
                    <input type="button" value="Clear" class="btn btn-dark btn-sm" style="margin-top:1.0rem !important;" onclick="location.reload(true);" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3">
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["HMAlert"] != null)
{
    <script>
        $(()=> {

            alert('@TempData["HMAlert"]')

        })

    </script>
}